scct/composer.lock
.idea/codeStyleSettings.xml
.idea/copyright/profiles_settings.xml
.idea/deployment.xml
.idea/modules.xml
.idea/vcs.xml
.idea/webServers.xml
.idea/workspace.xml
.idea/SCCT.iml
sh.exe.stackdump
scct/web/videos/DispatchAssigned_07_18_17.mp4
scct/web/videos/Inspection 07_28_17.mp4
scct/web/videos/Reports_07_19_17.mp4
scct/web/videos/Dominion_Voyager_08_04_17.mp4
