scct/composer.lock
.idea/codeStyleSettings.xml
.idea/copyright/profiles_settings.xml
.idea/deployment.xml
.idea/modules.xml
.idea/vcs.xml
.idea/webServers.xml
.idea/workspace.xml
.idea/SCCT.iml
sh.exe.stackdump
