/*assigned css*/
#assignedGV {
    width: 100%;
    float: left;
}

.dispatch-assigned{
    margin-top: 2%;
}

/*updated css */
#assignedDropdownContainer {
    float: left;
    width: 100%;
    background-color: #E6F0F6;
    z-index: 3;
    border-bottom: 1px solid black;
    padding:10px;
}

#assignedDatePickerContainer{
    float:left;
	margin-right:1%;
}

#assignedDropdownTitlesContainer {
    position: relative;
    width: 100%;
}

#assignedSearchContainer {
    float: left;
    margin-left: 50%;
}

#Assigned-dropDownList-form{
    width:98%;
    margin-left:1%;
    position:relative;
    float:left;
}

#Assigned-dropDownList-form lable {
    margin-bottom: 0px;
}

#Assigned-dropDownList-form .help-block {
    margin-top: 0px;
    margin-bottom: 5px;
}

#assignedSearchField{
	float:left;
    margin-right:1%;
    position:relative;
	width:90%;
}

#assignedSearchCleanFilterButton{
    width: 32px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: -10px;
	float: right;
}

#AssignedPageSizeLabel {
    float: right;
    margin: -39px auto;
    width: 10%;
}

#AssignedPageSizeLabel span {
    color: #0067a6;
    display: inline !important;
}

#assignedCleanFilterButton, #SurveyorModalCleanFilterButton, #leakLogSearchClearFilterButton{
    margin-top: 25px;
    width: 32px;
    cursor: pointer;
}

#assginedGridViewContainer {
    position: relative;
    float: left;
    width: 100%;
    margin-top: 1%;
    overflow-x: hidden;
    /*z-index: 999;*/
}

#assignedTable .table-responsive {
    max-height: 51vh;/*380px;*/
    overflow-y: auto;
    width: 100%;
    margin: 0 auto;
}

#modalBtns{
    position: fixed;
    top:100px;
    bottom: 0px;
    border: solid;
    width: 100%;
    height: 70px;
    padding: 10px;
}

.dispatch-assigned #assiunassignedButton {
  margin-top: 5px;
}

.dispatch-assigned #addSurveyorButton {
    position: fixed;
    bottom: 33px;
    right: 20px;
    z-index: 42;
}

#assignedPagination .pagination {
    margin: 5px 0 0 0;
}

/*add surveyor modal page*/
#addSurveyorModal .container {
    padding-top: 10px;
    margin-bottom: 10px;
}

#modalAddSurveyor #loading, #modalAddSurveyor .footerabove, #modalAddSurveyor .header, #modalAddSurveyor .logout {
    display: none;
}

#assignedaddsurveyordialogtitle {
    position: relative;
    float: left;
    width: 100%;
}

#modalAddSurveyor #w0-container {
    max-height: 400px;
    margin-top: 0;
}

#addSurveyorsGridview #w1-container {
    max-height: 400px;
    overflow-y: auto;
    width: 98%;
}

#addSurveyorModal .modal-content {
    width: 90%;
    margin: 0 5%;
}

#addSurveyorsDispatchBtn {
    text-align: center;
    margin-top: 20px;
}
#viewSectionDetailModalContainer #sectionDetailInspectionForm{
    margin-top: 1%;
}

/*unassign_confirmation_modal*/
#unassignConfirmationListHeaders{
	font-weight: bold;
	padding-bottom: 1vh;
}
#unassignConfirmationList{
	max-height: 250px;
	width: 100%;
	position: relative;
	overflow-y: auto;
}
.unassignConfirmationColumn {
    float: left;
    width: 50%;
}
.unassignConfirmationRow:after {
    content: "";
    display: table;
    clear: both;
	padding-bottom: 2vh;
}
.unassignbtn{
	position: relative;
    float: right;
    width: 15%;
	padding-top: 1%;
}

/*unassigned dialog css*/
#unassigned-message .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 25vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}
#unassigned-message .modal-dialog {
	overflow-y: initial !important
}
#unassigned-message .modal-body {
	height: 250px;
	overflow-y: auto;
}

#modalViewAssetAssigned{
    padding: 0px 15px 15px 15px !important;
}

/* Add Animation */
@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

#unassigned-message .modal-header {
    padding: 2px 16px;
}

#unassigned-message .modal-body {
    position: relative;
    float: left;
    width: 100%;
    padding: 2px 16px;
    background-color: white;
}

.unassignAssetBtn {
    padding: 10px 0;
}

#unassigned-message .unassignAssetBtn {
    position: relative;
    float: right;
    width: 20%;
    color: #0067a6;
}

/*unassigned dialog css end*/

#UnassignedButton{
    width: 110%;
}
.ViewAssetBtn_AssignedMapGrid{
    cursor: pointer;
}
.ViewAssetBtn_AssignedSection{
    cursor: pointer;
}


/*used in multiple asset modals consider extracting out*/
.viewAssetsSearchcontainer{
    position: relative;
    float: left;
    width: 65%;
}
#assetsModalCleanFilterButtonAssigned{
    margin-top: 21px;
    width: 35px;
    cursor: pointer;
}
#viewAssetModalContainer{
    margin-bottom: 3%;
}
#assetTablePjax{
    margin-bottom:6%;
}
#assetsTable #assetGV-container{
    overflow-y: scroll !important;
    max-height: 400px !important;
}
.kv-grid-wrapper {
    height: auto !important;
    max-height: 51vh !important;
}


#assignedClearDateRange{
    width: 32px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: -10px;
	float:left;
}
#assignedButtonContainer{
    float: right;
    margin: 13px auto;
    width: 11%;
}
#assignedDispatchAssetsButton{
    padding-left: 25%;
    padding-right: 25%;
}
#UnassignedAssetsButton{
    width: 100%;
}

/*css for the 1600*900 resolution*/
@media (max-width: 1600px) {
    #assignedButtonContainer{
        width: 12%;
    }
    #AssignedPageSizeLabel {
        width: 11%;
    }
    #assignedSearchContainer{
        margin-left: 46%;
    }
	#assignedTable .table-responsive {
		max-height: 45vh;
	}
}

/*css for the 1366*768 resolution*/
@media (max-width: 1366px) {
    #assignedButtonContainer{
        width: 14%;
    }
    #AssignedPageSizeLabel {
        width: 13%;
    }
    #assignedSearchContainer{
        margin-left: 40%;
    }
	#assignedSearchField {
		width: 88%;
	}
	#assignedTable .table-responsive {
		max-height: 37vh;
	}
}
/* Chrome 29+ */
@media screen and (min-resolution:.001dpcm) {
    #inspectionTablePagination .pagination {
        margin: 3px 15% 0 0 !important;
    }
}

@media screen and (min-resolution:.001dpcm) {

    ::i-block-chrome,#assignedTable .table-responsive {
        max-height: 580px;
        overflow-y: auto;
        width: 100%;
        margin: 0 auto;
    }
    .chrome_only {
        max-height: 370px;
        overflow-y: auto;
        width: 100%;
        margin: 0 auto;
    }
    .floatThead-col{
        height: 0 !important;
    }
}

@media not all and (min-resolution:.001dpcm) { @media {

    ::i-block-chrome,#assignedTable .table-responsive {
        max-height: 580px;
        overflow-y: auto;
        width: 100%;
        margin: 0 auto;
    }
    .chrome_only {
        max-height: 370px;
        overflow-y: auto;
        width: 100%;
        margin: 0 auto;
    }
}}


/*assigned css ends*/