/*assigned css*/
#assignedGV {
    width: 100%;
    float: left;
}

/*updated css */
#assignedDropdownContainer {
    float: left;
    width: 100%;
    background-color: #E6F0F6;
    z-index: 3;
    border-bottom: 1px solid black;
    padding:10px;
}

#assignedDropdownTitlesContainer {
    position: relative;
    width: 100%;
}

#assignedSearchContainer {
    position: relative;
    float: left;
    width: 29%;
    margin-left: 60%;
}

#assignedDropdownTitlesContainer .dropdowntitle {
    position: relative;
    float: left;
    padding-right: 5px;
    color: #0067a6;
}

#Assigned-dropDownList-form lable {
    margin-bottom: 0px;
}

#Assigned-dropDownList-form .help-block {
    margin-top: 0px;
    margin-bottom: 5px;
}

#assignedSearchContainer .dropdowntitle {
    float: left;
    width: 80%;
    color: #0067a6;
}

#AssignedPageSizeLabel {
    float: right;
    margin: -39px auto;
    width: 10%;
}

#AssignedPageSizeLabel span {
    color: #0067a6;
    display: inline !important;
}

#assignedCleanFilterButton, #assignedSearchCleanFilterButton, #SurveyorModalCleanFilterButton, #leakLogSearchClearFilterButton {
    margin-top: 25px;
    width: 32px;
    cursor: pointer;
}

#assginedGridViewContainer {
    position: relative;
    float: left;
    width: 100%;
    margin-top: 1%;
    overflow-x: hidden;
    /*z-index: 999;*/
}

#assignedTable .table-responsive {
    max-height: 51vh;/*380px;*/
    overflow-y: auto;
    width: 100%;
    margin: 0 auto;
}

#modalBtns{
    position: fixed;
    top:100px;
    bottom: 0px;
    border: solid;
    width: 100%;
    height: 70px;
    padding: 10px;
}

.dispatch-assigned #assiunassignedButton {
  margin-top: 5px;
}

.dispatch-assigned #addSurveyorButton {
    position: fixed;
    bottom: 33px;
    right: 20px;
    z-index: 42;
}

#assignedPagination .pagination {
    margin: 5px 0 0 0;
}

/*add surveyor modal page*/
#addSurveyorModal .container {
    padding-top: 10px;
    margin-bottom: 10px;
}

#modalAddSurveyor #loading, #modalAddSurveyor .footerabove, #modalAddSurveyor .header, #modalAddSurveyor .logout {
    display: none;
}

#assignedaddsurveyordialogtitle {
    position: relative;
    float: left;
    width: 100%;
}

#assignedaddsurveyordialogtitle .dropdowntitle {
    position: relative;
    float: left;
    width: 40%;
    padding-right: 1%;
}

#modalAddSurveyor #w0-container {
    max-height: 400px;
    margin-top: 0;
}

#addSurveyorsGridview #w1-container {
    max-height: 400px;
    overflow-y: auto;
    width: 98%;
}

#addSurveyorModal .modal-content {
    width: 90%;
    margin: 0 5%;
}

#addSurveyorsDispatchBtn {
    text-align: center;
    margin-top: 20px;
}
#viewSectionDetailModalContainer #sectionDetailInspectionForm{
    margin-top: 1%;
}

/*unassigned dialog css*/
#unassigned-message .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
#modalViewAssetAssigned{
    padding: 0px 15px 15px 15px;!important;
}

/* Add Animation */
/* @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
} */

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

#unassigned-message .modal-header {
    padding: 2px 16px;
}

#unassigned-message .modal-body {
    position: relative;
    float: left;
    width: 100%;
    padding: 2px 16px;
    background-color: white;
}

.unassignedbtn {
    padding: 10px 0;
}

#unassigned-message .unassignedbtn {
    position: relative;
    float: right;
    width: 30%;
    color: #0067a6;
}

/*unassigned dialog css end*/

#UnassignedButton{
    width: 110%;
}
.ViewAssetBtn_AssignedMapGrid{
    cursor: pointer;
}
.ViewAssetBtn_AssignedSection{
    cursor: pointer;
}
.viewAssetsSearchcontainer{
    position: relative;
    float: left;
    width: 65%;

}
#assetsModalCleanFilterButtonAssigned{
    margin-top: 21px;
    width: 35px;
    cursor: pointer;
}
#assignedButtonContainer{
    float: right;
    margin: 0 auto;
    width: 11%;
}
#assignedSearchCleanFilterButton{
    width: 32px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 10px;
}

@media (max-width: 760px) {
    #assignedButtonContainer{
        width: 22%;
    }
    #AssignedPageSizeLabel {
        width: 20%;
    }
    #assignedSearchContainer{
        margin-left: 40%;
    }
}
/* Chrome 29+ */
@media screen and (-webkit-min-device-pixel-ratio:0)
and (min-resolution:.001dpcm) {
    #inspectionTablePagination .pagination {
        margin: 3px 15% 0 0; !important;
    }
}

@media screen and (-webkit-min-device-pixel-ratio:0) {

    ::i-block-chrome,#assignedTable .table-responsive {
        max-height: 580px;
        overflow-y: auto;
        width: 100%;
        margin: 0 auto;
    }
    .chrome_only {
        max-height: 370px;
        overflow-y: auto;
        width: 100%;
        margin: 0 auto;
    }
    .floatThead-col{
        height: 0 !important;
    }
}

@media not all and (min-resolution:.001dpcm) { @media {

    ::i-block-chrome,#assignedTable .table-responsive {
        max-height: 580px;
        overflow-y: auto;
        width: 100%;
        margin: 0 auto;
    }
    .chrome_only {
        max-height: 370px;
        overflow-y: auto;
        width: 100%;
        margin: 0 auto;
    }
}}


/*assigned css ends*/