/*assigned css*/
.dispatch-assigned{
    margin-top: 2%;
}
#assignedDropdownContainer {
	height: 140px;
    float: left;
    width: 100%;
    background-color: #E6F0F6;
    z-index: 3;
    border-bottom: 1px solid black;
    padding:10px;
}
.title{
    margin-top: -5px;
    font-size: 20px;
}
#Assigned-dropDownList-form{
    width:98%;
    margin-left:1%;
}
#assignedDatePickerContainer{
    float:left;
	margin-right:1%;
}
#assignedClearDateRange{
    width: 32px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: -10px;
	float:left;
}
#AssignedPageSizeLabel{
    float: right;
    margin: -39px auto;
    width: 10%;
}
#Assigned-dropDownList-form .help-block {
    margin-top: 0px;
    margin-bottom: 5px;
}
#assignedSearchContainer {
    margin-left: 50%;
}
#assignedSearchField{
	float:left;
	width:90%;
}
#assignedSearchCleanFilterButton{
    width: 32px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: -10px;
	float: right;
}
#assignedButtonContainer{
    float: right;
    margin: 13px auto;
    width: 11%;
}
#removeSurveyorButtonContainer{
  margin-top: 5px;
}
#removeSurveyorButton{
    width: 110%;
}
#assginedGridViewContainer{
    position: relative;
    float: left;
    width: 100%;
    margin-top: 1%;
    overflow-x: hidden;
}
#assignedGV {
    width: 100%;
    float: left;
}
#assignedTable .table-responsive {
    max-height: 51vh;
    overflow-y: auto;
    width: 100%;
    margin: 0 auto;
}
.ViewAssetBtn_AssignedMapGrid{
    cursor: pointer;
}
.ViewAssetBtn_AssignedSection{
    cursor: pointer;
}
#assignedPagination .pagination {
    margin: 5px 0 0 0;
}
/*unassign_confirmation_modal*/
#unassignConfirmationListHeaders{
	font-weight: bold;
	padding-bottom: 1vh;
}
#unassignConfirmationList{
	max-height: 250px;
	width: 100%;
	position: relative;
	overflow-y: auto;
}
.unassignConfirmationColumn {
    float: left;
    width: 50%;
}
.unassignConfirmationRow:after {
    content: "";
    display: table;
    clear: both;
	padding-bottom: 2vh;
}
.unassignbtn{
	position: relative;
    float: right;
    width: 15%;
	padding-top: 1%;
}

/*unassigned dialog css*/
#unassigned-message .modal-content {
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}
#unassigned-message .modal-dialog {
	overflow-y: initial
}
#unassigned-message .modal-body {
	position: relative;
    float: left;
    width: 100%;
	height: 250px;
	overflow-y: auto;
}
/* Add Animation */
@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}
#unassigned-message .unassignAssetBtn {
    position: relative;
    float: right;
    width: 15%;
	padding-top: 1%;
    color: #0067a6;
}
/*unassigned dialog css end*/

/*css for the 1600*900 resolution*/
@media (max-width: 1600px) {
    #assignedButtonContainer{
        width: 12%;
    }
    #AssignedPageSizeLabel {
        width: 11%;
    }
    #assignedSearchContainer{
        margin-left: 46%;
    }
	#assignedTable .table-responsive {
		max-height: 45vh;
	}
}

/*css for the 1366*768 resolution*/
@media (max-width: 1366px) {
    #assignedButtonContainer{
        width: 14%;
    }
    #AssignedPageSizeLabel {
        width: 13%;
    }
    #assignedSearchContainer{
        margin-left: 40%;
    }
	#assignedSearchField {
		width: 88%;
	}
	#assignedTable .table-responsive {
		max-height: 37vh;
	}
}
/* Chrome 29+ */
@media screen and (min-resolution:.001dpcm) {
    #inspectionTablePagination .pagination {
        margin: 3px 15% 0 0 !important;
    }
}

@media screen and (min-resolution:.001dpcm) {

    ::i-block-chrome,#assignedTable .table-responsive {
        max-height: 580px;
        overflow-y: auto;
        width: 100%;
        margin: 0 auto;
    }
    .chrome_only {
        max-height: 370px;
        overflow-y: auto;
        width: 100%;
        margin: 0 auto;
    }
    .floatThead-col{
        height: 0 !important;
    }
}

@media not all and (min-resolution:.001dpcm) { @media {

    ::i-block-chrome,#assignedTable .table-responsive {
        max-height: 580px;
        overflow-y: auto;
        width: 100%;
        margin: 0 auto;
    }
    .chrome_only {
        max-height: 370px;
        overflow-y: auto;
        width: 100%;
        margin: 0 auto;
    }
}}
/*assigned css ends*/