#cgeGV-container{
    overflow-x: hidden;
}
#cgeGridViewContainer{
	position:relative;
    float:left;
    width:100%;
    margin-top: 0.7%;
    z-index: 1;
}
#cgeGV {
    width: 100%;
    float: left;
    max-height: 57vh;/*360px;*/
    overflow-y: auto;
    margin: 0 auto;
    overflow-x: hidden;
}
#cgeDispatchButton{
    width: 110%;
    margin-top: 13px;
}
#cgeButtonContainer{
    float: right;
    margin: 18px auto;
    width: 11%;
}
#cgePageSizeLabel{
    float: right;
    margin: -39px auto;
    width: 10%;
}
#cgefiltertitle{
    float: left;
    width: 30%;
    color: #0067a6;
    margin-left: 50%
}
#cgeSearchCleanFilterButton{
    width: 32px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 5px;
}
@media (max-width: 960px) {
    #cgeButtonContainer{
        float: right;
        margin: 2.5% auto;
        width: 25%;
    }
    #cgePageSizeLabel{
        width: 20%;
    }
    #cgeButtonContainer{
        margin: 2.2% auto;
        width: 22%;
    }
    #cgefiltertitle{
        margin-left: 35%
    }
    .kv-grid-wrapper {
        overflow-x: hidden;
    }
}
