.dispatch-cge{
	margin-top: 2%;
}
#cgeDropdownContainer{
	height: 140px;
	width: 100%;
	background-color: #E6F0F6;
	z-index: 3;
	border-bottom: 1px solid black;
	padding: 10px;
}
.title{
    margin-top: -5px;
    font-size: 20px;
}
#cgePageSizeLabel{
    float: right;
    margin: -39px 19px -39px 0px;
    width: 9.75%;
}
#cgeSearchContainer{
	margin-left:62.7%
}
#cgeSearchField{
    float: left;
    width: 88%;
}
#cgeSearchCleanFilterButton{
    width: 32px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 11px;
}
#cgeButtonContainer{
    float: right;
    margin: 18px 18.5px 18px 0px;
    width: 10.8%;
}
#cgeDispatchButton{
    width: 110%;
}
#cgeGridViewContainer{
	position:relative;
    float:left;
    width:100%;
    margin-top: 0.95%;
    z-index: 1;
}
#cgeGV {
    width: 100%;
    float: left;
    max-height: 51vh;
    overflow-y: auto;
    overflow-x: hidden;
}
#cgeGV-container{
    overflow-x: hidden;
}

@media (max-width: 960px) {
    #cgeButtonContainer{
        float: right;
        margin: 2.5% auto;
        width: 25%;
    }
    #cgePageSizeLabel{
        width: 20%;
    }
    #cgeButtonContainer{
        margin: 2.2% auto;
        width: 22%;
    }
    #cgefiltertitle{
        margin-left: 35%
    }
    .kv-grid-wrapper {
        overflow-x: hidden;
    }
}
