#client_form{
	margin-right: 9%;
    margin-top: 3%;
}
#client_submit_btn{
	margin-top: 2%;
	margin-left: 1%;
}
.client-index .kv-grid-container{
	max-height:59vh;
	overflow-y:auto;
}
.field-clientSearchField{
	float: left;
	width: 90%;
}
#clientSearchCleanFilterButton{
	width: 32px;
	cursor: pointer;
}