#client_form{
	margin-right: 9%;
    margin-top: 3%;
}
#client_submit_btn{
	margin-top: 2%;
	margin-left: 1%;
}
#clientIndexGridView-container{
	max-height : 65vh;
	width : 100%;
    overflow: auto;
}
.clientIndexPagination{
	margin-top: 1%;
}
#clientSearchCleanFilterButton{
	width: 32px;
	cursor: pointer;
	margin-top: 1px;
}