table tr:nth-child(even), .table-striped > tbody > tr:nth-of-type(even) {
    background-color: #FFFFFF;
}

table tr:nth-child(odd), .table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #E6F0F6;
}

table > thead > tr > th, table > tbody > tr > th, table > tfoot > tr > th, table > thead > tr > td,
    table > tbody > tr > td, table  > tfoot > tr > td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
}

table > thead > tr > th, table > tbody > tr > th, table > tfoot > tr > th,
    .kv-grid-table > thead > tr > td, .kv-grid-table > tbody > tr > td, .kv-grid-table > tfoot > tr > td {
    border: 1px solid #ddd;
}

table tbody tr:hover {
    background-color: rgba(57, 12, 255, 0.25);
}

.kv-table-caption {
    background-color: lightblue;
}