.dispatch-dispatch,.dispatch-assigned,.dispatch-assets{
	margin-top:60px;
}
#dispatchGV{
	width:60%;
	float:left;
}
#surveyorsGV{
	width:38%;
	float:right;
}
#assignedGV{
	width:100%;
	float:left;
}
#dispatchAssetsBackButton{
	margin-bottom:5px;
}