/*dispatch css*/
.dispatch{
    margin-top: 2%;
}
#dispatchTab{
    height: 140px;
    padding:10px;
    margin-bottom: 5px;
	float:left;
    width: 100%;
    background-color: #E6F0F6;
    z-index: 3;
    border-bottom:1px solid black;
}
.title{
    margin-top: -5px;
    font-size: 20px;
}
#dispatch-dropDownList-form{
    width:99%;
    margin-left:1%;
}
#dispatchUnassignedTableDropdown{
    width:99%;
    margin-right:1%;
}
#dispatchDatePickerContainer{
	float:left;
	margin-right:1%;
}
/*check other clear filter usage for similarities*/
#dispatchClearDateRange{
	width: 32px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: -10px;
	float: left;
}
#dispatchPageSizeLabel{
    margin: -39px auto;
    width: 10%;
	float: right;
}
#dispatchSearchContainer{
    margin-left: 50%;
}
#dispatchSearchField{
	float:left;
	width:90%;
}
/*check other clear filter usage for similarities*/
#dispatchSearchCleanFilterButton{
    width: 32px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: -10px;
	float: right;
}
#addSurveyorButtonDispatch{
    float: right;
    margin: 38px auto;
    width: 11%;
}
#dispatchButton{
    width: 110%;
}
#dispatchGridViewContainer{
    position:relative;
    float:left;
    width:100%;
    margin-top: 0.7%;
    z-index: 1;
}
#dispatchGV {
    width: 100%;
}
#dispatchUnassignedTable .table-responsive {
	max-height: 51vh;
}
#unassignedTablePagination .pagination {
    margin: 5px 0 0 0;
}
.ViewAssetBtn_DispatchMapGrid{
    cursor: pointer;
}

/*css for the 1600*900 resolution*/
@media (max-width: 1600px) {
    #addSurveyorButtonDispatch{
        width: 12%;
    }
    #dispatchPageSizeLabel {
        width: 11%;
    }
    #dispatchSearchContainer{
        margin-left: 46%;
    }
	#dispatchUnassignedTable .table-responsive {
		max-height: 45vh;
	}
}

/*css for the 1366*768 resolution*/
@media (max-width: 1366px) {
    #addSurveyorButtonDispatch{
        width: 14%;
    }
    #dispatchPageSizeLabel {
        width: 13%;
    }
    #dispatchSearchContainer{
        margin-left: 40%;
    }
	#dispatchSearchField {
		width: 88%;
	}
    .kv-grid-wrapper {
        overflow-x: hidden;
    }
	#dispatchUnassignedTable .table-responsive {
		max-height: 37vh;
	}
}

/* Safari 7.1+ */
/*_::-webkit-full-page-media, _:future, :root #dispatchGV{
    width: 100%;
    float: left;
    max-height: 580px;
    overflow-y: auto;
    margin: 0 auto;
    overflow-x: hidden;
}*/

@media screen and (min-resolution:.001dpcm) {
    /* Safari only override */
    ::i-block-chrome,#dispatchGV{
        width: 100%;
        float: left;
        max-height: 530px;
        overflow-y: auto;
        margin: 0 auto;
        overflow-x: hidden;
    }
    ::i-block-chrome,.kv-grid-wrapper {
        height: 530px !important;
    }
    @media (max-width: 950px) {
        ::i-block-chrome,#addSurveyorButtonDispatch{
            width: 21%;
        }
        ::i-block-chrome,#dispatchPageSizeLabel {
            width: 19.5%;
        }
        ::i-block-chrome,#dispatchSearchContainer{
            margin-left: 40%;
        }
    }
}

/* Safari 10.1+ (which is the latest version of Safari at this time) */
@media not all and (min-resolution:.001dpcm) {
    @media {
        ::i-block-chrome,#dispatchGV{
            width: 100%;
            float: left;
            max-height: 530px;
            overflow-y: auto;
            margin: 0 auto;
            overflow-x: hidden;
        }
        ::i-block-chrome,#dispatchUnassignedTable {
            height: 620px;
            overflow-y: hidden;
            overflow-x: hidden;
        }
    }
    @media (max-width: 950px) {
        #addSurveyorButtonDispatch{
            width: 21%;
        }
        #dispatchPageSizeLabel {
            width: 19.5%;
        }
        #dispatchSearchContainer{
            margin-left: 40%;
        }
    }}
