/*employee-approval employee-detail*/
.project-hours-container{
	width:80%;
}
#DailyProjectHours{
	max-height:22vh;
	overflow-y: auto;
}

#DailyBreakdownHours{
	max-height:45vh;
	overflow-y:auto;
	margin-top:2vh;
}

/*custom style for hours breakdown table grid view hover*/
#DailyBreakdownHours table tbody tr:hover{
    background-color: rgba(57, 12, 255, 0.25);
}

/*responsive css for table*/
@media only screen and (max-height : 1080px) {
	#DailyProjectHours{
		max-height:20vh;
	}
	#DailyBreakdownHours{
		max-height:43vh;
	}
}

@media only screen and (max-height : 1050px) {
	#DailyProjectHours{
		max-height:20vh;
	}
	#DailyBreakdownHours{
		max-height:43vh;
	}
}

@media only screen and (max-height : 768px) {
	#DailyProjectHours{
		max-height:15vh;
	}
	#DailyBreakdownHours{
		max-height:38vh;
	}
}

/*_employee-detail-edit-modal*/
#error_message{
	color:red;
}

@media (min-width : 1280px) and (min-height: 768px){
	.report-summary-employee-detail.index-div {
		margin-top: 5%;
	}

	#EmployeeDetailView{
		margin-top: 30px;
	}

	#EmployeeDetailView .project-hours-container{
		width: 100%;
	}

	#DailyProjectHours-pjax table{
		margin-bottom: 0;
	}

	#DailyBreakdownHours{
		max-height:45vh;
		overflow-y:auto;
		margin-top:30px;
	}

	#employeeApprovalProjGV{
		margin-top:30px;
	}

	#employeeApprovalUserGV table{
		margin-bottom: 0;
	}
}