/*employee-approval index*/
.title{
    margin-top: -5px;
    font-size: 20px;
}

#ea_multiple_approve_btn_id{
	float: right;
}

#ea_multiple_submit_btn_id{
	float: right;
}

#GridViewForEmployeeApprovalUser{
	max-height: 46vh;
	overflow-y: auto;
	overflow-x: visible;
}

/*remove unnecessary framework generated scroll*/
#GridViewForEmployeeApprovalUser-container{
	overflow-x:unset;
}

/*custom css for total row*/
#GridViewForEmployeeApprovalUser table tbody tr:last-child {
    background: #f0f0f2;
    color: #333;
    font-weight: bold;
    border-top: solid #333;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#GridViewForEmployeeApprovalProj{
	width: 80%;
	height: 25vh;
	overflow-y: auto;
	margin-top: 2vh;
}

/*custom css for total row*/
#GridViewForEmployeeApprovalProj table tbody tr:last-child {
    background: #f0f0f2;
    color: #333;
    font-weight: bold;
    border-top: solid #333;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/*custom style for report summary user data table grid view hover*/
#GridViewForEmployeeApprovalUser table tbody tr td:hover{
    background-color: rgba(57, 12, 255, 0.25);
}

/*responsive css for table*/
@media only screen and (max-height : 1080px) {
	#GridViewForEmployeeApprovalUser{
		max-height: 45vh;
	}
	
	#GridViewForEmployeeApprovalProj{
		height: 23vh;
	}
}

@media only screen and (max-height : 1050px) {
	#GridViewForEmployeeApprovalUser{
		max-height: 45vh;
	}
	#GridViewForEmployeeApprovalProj{
		height: 20vh;
	}
}

@media only screen and (max-height : 768px) {
	#GridViewForEmployeeApprovalUser{
		max-height: 42vh;
	}
	#GridViewForEmployeeApprovalProj{
		height: 16vh;
	}
}