/*employee-approval employee-detail*/
.project-hours-container{
	width:80%;
}
#DailyProjectHours{
	max-height:22vh;
	overflow-y: auto;
}

#DailyBreakdownHours{
	max-height:45vh;
	overflow-y:auto;
	margin-top:2vh;
}

/*custom style for hours breakdown table grid view hover*/
#DailyBreakdownHours table tbody tr:hover{
    background-color: rgba(57, 12, 255, 0.25);
}

/*responsive css for table*/
@media only screen and (max-height : 1080px) {
	#DailyProjectHours{
		max-height:20vh;
	}
	#DailyBreakdownHours{
		max-height:43vh;
	}
}

@media only screen and (max-height : 1050px) {
	#DailyProjectHours{
		max-height:20vh;
	}
	#DailyBreakdownHours{
		max-height:43vh;
	}
}

@media only screen and (max-height : 768px) {
	#DailyProjectHours{
		max-height:15vh;
	}
	#DailyBreakdownHours{
		max-height:38vh;
	}
}

/*_employee-detail-edit-modal*/
#error_message{
	color:red;
}