.home-index{
	margin-top:6%;
}
#homeEquipmentWidget{
	float: left;
	width: 32%;
}
#homeTimeCardWidget{
	float: left;
	width: 32%;
	margin-left: 2%;
}
#homeMileageCardWidget{
	float: left;
	width: 32%;
	margin-left: 2%;
}
.home-index tbody tr:last-child {
	background: #f0f0f2;
	color: #333;
	font-weight: bold;
	border-top: solid #333;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.home-index [title~=View] {
	display: block;
	margin: 0 auto;
	text-align:center;
}
.home-index thead th:last-child {
	text-align:center;
}
