/*inspection css*/
.inspection{
    overflow-y: hidden;
    margin-top: 2%;
}

#inspectionTab{
    height: 105px;
    padding:10px;
    margin-bottom: 5px;
    float: left;
    width: 100%;
    background-color: #E6F0F6;
    z-index: 3;
    border-bottom: 1px solid black;

}
.summary{
    padding-left: 1%;
}
#inspectionTable{
    position:relative;
    float:left;
    width:100%;
    margin-right:0.5%;
    height: 430px;
    overflow-y: hidden;
    overflow-x: hidden;
}

#inspectionGV {
    width: 100%;
    float: left;
    max-height: 51vh;/*360px;*/
    overflow-y: auto;
    margin: 0 auto;
    overflow-x: hidden;
}
.title{
    margin-top: -5px;
    font-size: 20px;

}
#inspectionTab h3{
    padding-left:1%;
}
.summary{
    margin-top: 10px;
}
#inspectionGridViewContainer{
    position:relative;
    float:left;
    width:100%;
    margin-top: 0.7%;
    z-index: 1;
}
#inspectionTable .table-responsive {
    margin-top:0px;
    width:100%;
    overflow-x: hidden;!important;
}
#inspection-dropDownList-form{
    width:99%;
    margin-left:1%;
    position:relative;
    float:left;
}
#inspectionTableDropdown{
    position:relative;
    float:left;
    width:99%;
    margin-right:1%;
}
#inspectionPageSizeLabel{
    margin: -39px auto;
    width: 10%;
}
#inspectionTablePagination .pagination {
    margin: 5px 0 0 0;
}
.field-dispatchFilter{
    width: 100%;
}
.viewSectionDetailSearchcontainer{
    position: relative;
    float: left;
    width: 43%;
}
#sectionDetailModalCleanFilterButtonInspection{
    margin-top: 0.5%;
    width: 35px;
    cursor: pointer;
}#sectionDetailGV-container{
     overflow-x: initial;
 }
 #sectionDetailTable{
     overflow-y: scroll;
     width: 101%;
     max-height: 400px;

 }
 #sectionDetailGV{
     max-height: 250px;
 }
 #inspectionSearchContainer{
     float:left;
     margin-left: 60%;
 }

@media (max-width: 760px) {
    #inspectionPageSizeLabel {
        margin: -5px auto;
        width: 20%;
    }

    #inspectionSearchContainer {
        float: left;
        margin-left: 41%;
    }
    #inspectionGV-container{
        overflow-x: hidden;
    }
}
/*Pending changes pop-up missing modal ends*/

@media screen and (-webkit-min-device-pixel-ratio:0) {

    /* Safari only override */
    ::i-block-chrome, #inspectionGV {
        width: 100%;
        float: left;
        max-height: 530px;
        overflow-y: auto;
        margin: 0 auto;
        overflow-x: hidden;
    }

    #inspectionTableTable {
        height: 620px;
        overflow-y: hidden;
        overflow-x: hidden;
    }

    .chrome_only {
        width: 100%;
        float: left;
        max-height: 360px;
        overflow-y: auto;
        margin: 0 auto;
        overflow-x: hidden;
    }

    .floatThead-col {
        height: 0 !important;
    }
}