/*inspection css*/
.inspection{
    margin-top: 2%;
}
#inspectionTab{
    height: 105px;
    padding:10px;
    margin-bottom: 5px;
    float: left;
    width: 100%;
    background-color: #E6F0F6;
    z-index: 3;
    border-bottom: 1px solid black;
}
.title{
    margin-top: -5px;
    font-size: 20px;
}
#inspectionPageSizeLabel{
    margin: -5px auto;
    width: 10%;
}
#inspectionSearchContainer{
    margin-left: 60%;
}
#inspectionSearchCleanFilterButton{
    width: 32px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: -5px;
}
#inspectionGridViewContainer{
    float:left;
    width:100%;
    margin-top: 0.7%;
}
#inspectionGV {
    width: 100%;
    height: 50vh;
    overflow-y: auto;
    overflow-x: hidden;
}
#sectionDetailTable{
    overflow-y: scroll;
    max-height: 25vh;
}

/*css for new image tab*/
.showImage:active {
    -webkit-transform: scale(2);
}
.showImage{
    transition: -webkit-transform 0.25s ease;
}
.showImage{
    width: 24%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.imageContainer{
    overflow-y: scroll;
}

@media (max-width: 760px) {
    #inspectionPageSizeLabel {
        margin: -5px auto;
        width: 20%;
    }

    #inspectionSearchContainer {
        float: left;
        margin-left: 41%;
    }
    #inspectionGV-container{
        overflow-x: hidden;
    }
}
@media screen and (min-resolution:.001dpcm) {

    /* Safari only override */
    ::i-block-chrome, #inspectionGV {
        width: 100%;
        float: left;
        max-height: 50vh;
        overflow-y: auto;
        margin: 0 auto;
        overflow-x: hidden;
    }
    .floatThead-col {
        height: 0 !important;
    }
}
/* Chrome 29+ */
@media screen and (min-resolution:.001dpcm)
and (min-resolution:.001dpcm) {
    #InspectionTablePagination .pagination {
        margin: 3px 0 0 0;
    }
}