#mileage_card_form {
    margin-right: 9%;
    margin-top: 3%;
}

#mileage_card_submit_btn {
    margin-top: 2%;
    margin-right: 2%;
	float:right;
}

.white_space {
    margin-top: 3%;
}

div[id^=modalContent] .container {
    padding: 10px 15px 0px;
}

div[id^=modalContent] .wrap #top-wrapper {
    display: none;
}
#mileageCardWeekSelection {
    margin-top: 7%;
}
#mileageCardGridViewContainer,#mileage_card_filter{
	position:relative;
	width:100%;
	float:left;
}
#mileage_card_approve_btn{
	padding-left:0;
}
#mileageCardDropdownContainer{
	padding-right:0;
}
#mileageCardWeekContainer{
	float:left;
}
#mileageCardPageSizeContainer{
	float:right;
}
#mileageCardDropdownContainer label{
	padding-right:0;
}
#mileageCardDropdownContainer .form-control{
	padding:6px 10px;
}
#mileageCardGridview .kv-grid-container{
	max-height:58vh;
	overflow-y:auto;
}
/*responsive css* for table*/
@media only screen 
and (min-width : 1360px) {
#mileageCardGridview .kv-grid-container{
	max-height:40vh;
}
}
@media only screen 
and (min-width : 1900px) {
#mileageCardGridview .kv-grid-container{
	max-height:65vh;
}
}