/*mileage card index*/
.title{
    margin-top: -5px;
    font-size: 20px;
}

.mileageProjectFilterDD {
    margin-top: -2%;
}

.mileageEmployeeFilterDD {
	margin-top: -2%;
}

#mileageCardClearDropdownFilterButton  {
    width: 32px;
    cursor: pointer;
    margin-top: -3%;
}

.off-btn{
	opacity: 0.65;
	cursor: no-drop;
}

#mileageCardGridViewContainer,#mileage_card_filter{
	position:relative;
	width:100%;
	float:left;
}

#multiple_mileage_card_approve_btn{
	float: right;
	margin-top: -1%;
	margin-right: 0.5%;
	width: 12%;
}

#mileageCardGridview .kv-grid-container{
	max-height:60vh;
	overflow-y:auto;
}

#mileageCardDropdownContainer{
	padding-right:0;
}

#mileageCardDropdownContainer label{
	padding-right:0;
}

#mileageCardDropdownContainer .form-control{
	padding:6px 10px;
}

#GridViewForMileageCard{
	width:100%;
	max-height:58vh;
}

#MCPagination{
	margin-top: 1%;
}

#mileageCardPageSize {
	margin-left: 110%;
	margin-top: 15%;
}

#mileageCardSearchCleanFilterButton{
	width: 32px;
	cursor: pointer;
	float: right;
	margin-right: -26.5%;
	margin-top: -2%;
}

#mileageDatePickerContainer .field-dynamicmodel-daterangepicker{
	float:right !important;
	margin-left: 0px !important;
}

.MileageCardSearch {
	float: right;
	margin-right: 22%;
	margin-top: -2%;
}

.MileageCardDateRangeDropDown {
	margin-top: -2%;
}

#mileage_pm_submit_btn_id{
    padding-left: 7%;
    padding-right: 7%;
}

#mc_pm_reset_request_btn_id {
	float: right;
	padding-left: 7%;
	padding-right: 7%;
}

#mc_multiple_approve_btn_id {
	float: right;
	padding-left: 7%;
	padding-right: 7%;
}

#pm_mileage_card_reset{
	float: right;
	padding-left: 7%;
	padding-right: 7%;
}

#mileage_acc_submit_btn_id{
    padding-left: 7%;
    padding-right: 7%;
}

#mileageDatePickerContainer{
	margin-top: -6.2%;
	margin-left: -15%;
}

/*responsive css for table*/
@media only screen and (max-width : 1900px) {
	#mileageEmployeeFilterDD{
		margin-left: 0px;
	}
	
	#mileageCardGridview .kv-grid-container{
		max-height:58vh;
	}
	
	.form-group{
		margin-bottom: 15px;
	}
}

@media only screen and (max-width : 1680px) {
	.MileageCardSearch {
		margin-right: 20%;
	}
	
	#mileageEmployeeFilterDD{
		margin-left: 12px;
	}
	
	#mileageCardGridview .kv-grid-container{
		max-height:48vh;
	}
	
	.form-group{
		margin-bottom: 10px;
	}
	
	#multiple_mileage_card_approve_btn{
        margin-top: -1%;
        margin-right: 0.5%;
        width: 14%;
    }
}

@media only screen and (max-width : 1366px) {
	.MileageCardSearch {
		margin-right: 20%;
	}
	
	#mileageEmployeeFilterDD{
		margin-left: 12px;
	}
	
	#mileageCardGridview .kv-grid-container{
		max-height:38vh;
	}
	
	.form-group{
		margin-bottom: 5px;
	}
	
	#multiple_mileage_card_approve_btn{
        margin-top: -1%;
        margin-right: 0.5%;
        width: 15%;
    }
}

@media only screen and (max-width : 1280px) {	
	.MileageCardSearch {
		margin-right: 22%;
	}
	
	#mileageCardClearDropdownFilterButton{
		margin-left: 4px;
	}
	
	#mileageEmployeeFilterDD{
		margin-left: 18px;
	}
	
	#mileageCardGridview .kv-grid-container{
		max-height:38vh;
	}
	
	.form-group{
		margin-bottom: 1px;
	}
	
	#mileageDatePickerContainer {
		margin-top: -7.5%;
		margin-left: -16%;
	}
	
	#mileageCardDateRange{
		margin-left: -10px;
		width: 110%;
	}
	
	#multiple_mileage_card_approve_btn{
		margin-top: -0.75%;
		margin-right: 0;
		width: 15%;
	}
	
	#mileage_pm_submit_btn_id, #mc_multiple_approve_btn_id{
		padding-left: 6%;
		padding-right: 6%;
	}
}

/* not sure what this is*/
div[id^=modalContent] .container {
    padding: 10px 15px 0px;
}
div[id^=modalContent] .wrap #top-wrapper {
    display: none;
}

/*mileage card show entries*/

#entries_sum_miles {
	font-size: medium;
	float: right;
	margin-right: 1%;
}

/*custom style for show entries grid view hover*/
#allMileageEntries table tbody tr:hover{
	/*cancel out base style*/
    background-color: transparent;
}

#allMileageEntries table tbody tr td:hover{
    background-color: rgba(57, 12, 255, 0.25);
}

/*mileage entry view form*/

#mileageEntryGridView .kv-grid-container{
	max-height: 12vh;
	margin-bottom: 2%;
	overflow-y: auto;
}

/*applay selected row highlight*/
#mileageEntryGridView table tbody tr.mileageEntrySelectedRow{
	background-color: #f2dede;
}

/*apply row hover highlight*/
#mileageEntryGridView table tbody tr:hover{
    background-color: rgba(57, 12, 255, 0.25);
}

.mileageViewModalImg{
	width: 32%;
    margin-left: 12%;
    margin-bottom: 2%;
}

/*hide form on initial load*/
#MileageEntryModalForm{
	display:none;
}

#MileageEntryModalForm .control-label{
	padding-right: 0px;
}

#mileageEntryModalFormButtons{
	float: right; 
	margin-top: -4.5%; 
	margin-right: 1.5%;
}

/*css for mileage view image screen*/
.img-responsive{
	max-height: 90vh;
	position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto auto
}