 #ct-growl-clone { display: none; }

 #ctGrowlContainer ul {
  display: block; 
  position: relative; 
  border: 1px solid gray;
 padding-top: 4px; 
 padding-bottom: 4px; 
}
 #ctGrowlContainer ul li { 
 display: block; 
 font-size: 12px; 
 font-family: Arial, sans-serif;
 padding-right: 8px; 
 margin-top: 
 5px;
}
 #ctGrowlContainer ul li.title { 
 font-weight: bold; 
 }
 #ctGrowlContainer ul li.icon {
  position: absolute; 
  top: 4px; 
  left: 4px; 
  width: 32px; 
  height;
}
 #ctGrowlContainer ul li.msg { 
 margin-right: 24px; color: gray; 
}
 #ctGrowlContainer ul li span.close { 
 position: absolute; 
 top: 4px; 
 right: 4px; 
 width: 14px;
 height: 14px; 
}

 #ctGrowlContainer {
 position: fixed;
/* top: 0;*/
 right: 0;
 width: 320px;
 border: 0;
 z-index: 10000;
 margin-bottom: 67px;
 padding-right: 17px;
 }

 #ctGrowlContainer ul {
 -webkit-border-radius: 7px !important;
 border-radius: 7px !important;
 }

