/*report-summary index*/
.title{
    margin-top: -5px;
    font-size: 20px;
}

#rs_multiple_approve_btn_id{
	float: right;
}

#rs_multiple_submit_btn_id{
	float: right;
}

#GridViewForReportSummaryUser{
	max-height: 36vh;
	overflow-y: auto;
	overflow-x: visible;
}

/*remove unnecessary framework generated scroll*/
#GridViewForReportSummaryUser-container{
	overflow-x:unset;
}

/*custom css for total row*/
#GridViewForReportSummaryUser table tbody tr:last-child {
    background: #f0f0f2;
    color: #333;
    font-weight: bold;
    border-top: solid #333;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#GridViewForReportSummaryProj{
	width: 80%;
	height: 21vh;
	overflow-y: auto;
	margin-top: 2vh;
}

/*custom css for total row*/
#GridViewForReportSummaryProj table tbody tr:last-child {
    background: #f0f0f2;
    color: #333;
    font-weight: bold;
    border-top: solid #333;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/*custom style for report summary user data table grid view hover*/
#GridViewForReportSummaryUser table tbody tr td:hover{
    background-color: rgba(57, 12, 255, 0.25);
}

/*responsive css for table*/
@media only screen and (max-height : 1080px) {
	#GridViewForReportSummaryUser{
		max-height: 35vh;
	}
	
	#GridViewForReportSummaryProj{
		height: 20vh;
	}
}

@media only screen and (max-height : 1050px) {
	#GridViewForReportSummaryUser{
		max-height: 30vh;
	}
	#GridViewForReportSummaryProj{
		height: 15vh;
	}
}

@media only screen and (max-height : 768px) {
	#GridViewForReportSummaryUser{
		max-height: 25vh;
	}
	#GridViewForReportSummaryProj{
		height: 10vh;
	}
}