#reportsContainer .containerByDropdown {
    /*position: fixed;*/
    padding: 0 1%;
    width: 100%;
    margin-top: 25px;
}

#reportsdropdown {
    padding-left: 1%;
}

#reportsdropdown .dropDownList-form {
    margin-top: 2%;
}

#reportsFilterForm h4 {
    color: #0067a6;
}

#reportsFilterForm .dropdowntitle {
    width: 16%;
    position: relative;
    float: left;
    padding-right: 20px;
}

#reportsFilterForm #summarytitle {
    margin-top: -40px;
}

#reportsFilterForm #SummaryInfo {
    margin-top: 15px;
    color: black;
}

#reportTable_wrapper .dataTables_scrollBody {
    max-height: 15vh;
    height: auto;
}

#reports-page .footerabove {
    display: none;
}

table.dataTable tbody td {
    word-break: break-all;
    vertical-align: top;
}

/*-----------css for the 1280*720 resolution---------------*/

/* ----------- Non-Retina Screens ----------- */
@media screen
and (min-width: 1200px)
and (min-resolution: 1dppx) {
    #reportTable_wrapper .dataTables_scrollBody {
        max-height: 25vh;
    }
}

/* ----------- Retina Screens ----------- */
@media screen
and (min-width: 1200px)
and (min-resolution: 2dppx) {
    #reportTable_wrapper .dataTables_scrollBody {
        max-height: 27vh;
    }
}

/*-----------css for the 1280*720 resolution ends---------------*/

/*-----------css for the 1600*900 resolution---------------*/

/* ----------- Non-Retina Screens ----------- */
@media screen
and (min-width: 1500px)
and (min-resolution: 1dppx) {
    #reportTable_wrapper .dataTables_scrollBody {
        max-height: 35vh;
    }
}

/* ----------- Retina Screens ----------- */
@media screen
and (min-width: 1500px)
and (min-resolution: 2dppx) {
    #reportTable_wrapper .dataTables_scrollBody {
        max-height: 37vh;
    }
}

/*-----------css for the 1600*900 resolution ends---------------*/

/*-----------css for the 1920*1080 resolution---------------*/

/* ----------- Non-Retina Screens ----------- */
@media screen
and (min-width: 1800px)
and (min-resolution: 1dppx) {
    #reportTable_wrapper .dataTables_scrollBody {
        max-height: 50vh;
    }
}

/* ----------- Retina Screens ----------- */
@media screen
and (min-width: 1800px)
and (min-resolution: 2dppx)
and (min-resolution: 192dpi) {
    #reportTable_wrapper .dataTables_scrollBody {
        max-height: 52vh;
    }
}
/* ----------- Safari Browser ----------- */
@media screen and (min-resolution: .001dppx) {

    ::i-block-chrome,#assignedTable .table-responsive {
        max-height: 60vh;
        overflow-y: auto;
        width: 100%;
        margin: 0 auto;
    }
}
/* Safari 10.1+ (which is the latest version of Safari at this time) */

@media not all and (min-resolution:.001dpcm) {
    @media {
        ::i-block-chrome,#reportTable_wrapper .dataTables_scrollBody{
            max-height: 55vh;
        }
        ::i-block-chrome,#inspectorsDropdown {
            margin-right: 12%;
        }
    }}
/* ----------- Retina Screens ----------- */

/*-----------css for the 1920*1080 resolution ends---------------*/