#taskSearchCleanFilterButton, #userSearchCleanFilterButton{
    width:5%;
}
.field-taskSearchField, .field-userSearchField{
    float: left;
}
#taskGridView{
    width: 100%;
}
#userGridView{
    width: 100%;
}
#userTable,#taskTable{
    overflow-y: scroll;
    max-height: 56vh;
}
/*.row.vdivide [class*='col-']:not(:last-child):after {
    background: #e0e0e0;
    width: 1px;
    content: "";
    display:block;
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    min-height: 70px;
}*/
.vdivide{
    position: absolute;
}
#taskSearchCleanFilterButton, #userSearchCleanFilterButton{
    cursor: pointer;
}
#taskSearchContainer{
    height: 100px;
    background-color: #E6F0F6;
    margin-bottom: 1%;
    padding: 1% 1% 1% 1%;
}
.task-index{
    margin-top: 2%;
}