#taskSearchCleanFilterButton, #userSearchCleanFilterButton{
    width:5%;
}
.field-taskSearchField, .field-userSearchField{
    float: left;
}
#taskGridView{
    width: 100%;
}
#userGridView{
    width: 100%;
}
#userTable,#taskTable{
    overflow-y: scroll;
    max-height: 56vh;
}
.vdivide{
    position: absolute;
}
#taskSearchCleanFilterButton, #userSearchCleanFilterButton{
    cursor: pointer;
}
#taskSearchContainer{
    height: 100px;
    background-color: #E6F0F6;
    margin-bottom: 1%;
    padding: 1% 1% 1% 0%;
}
.task-index{
    margin-top: 2%;
}
/*table on add task modal*/
#HoursOverviewGridview{
	max-height: 20vh;
	overflow-y: auto;
}