#time_card_form {
    margin-right: 9%;
    margin-top: 3%;
}

#time_card_submit_btn {
    margin-top: 1%;
    float: right;
    margin-right: 3%;
}

.time_entry_header {
    font-size: 25px;
    margin-top: 2%;
}


.white_space {
    margin-top: 3%;
}

.projectFilterDD {
    margin-top: -2.2%;
}

#timeCardClearProjectFilterButton  {
    width: 32px;
    cursor: pointer;
    float: right;
    margin-right: -1%;
    margin-top: -2.2%;
}

.off-btn{
	opacity: 0.65;
	cursor: no-drop;
}

.approve {
    margin-top: 0;
}

.totalhours {
    float: right;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
}
.no_totalhours {
    float: right;
}
div[id^=modalContent] #loading {
    display: none;
}
#timecard_filter,#timeCardGridViewContainer{
	position:relative;
	width:100%;
	float:left;
}
#multiple_time_card_approve_btn{
    padding-left:0;
	float: right;
	margin-top: -0.3%;
	margin-right: 0.5%;
	width: 12%;
}
#timeCardDropdownContainer{
	padding-right:0;
}
#timeCardWeekContainer{
	float:left;
}
#weekSelection {
    margin-top: 6%;
}
#timeCardPageSizeLabelContainer{
	float:right;
}
#timeCardDropdownContainer label{
	padding-right:0;
}
#timeCardDropdownContainer .form-control{
	padding:6px 10px;
}
#GridViewForTimeCard{
	width:100%;
	max-height:58vh;
	overflow-y:auto;
	overflow-x: hidden;
}
#TCPagination{
	margin-top: 1%;
}
#timeCardPageSize {
	margin-left: 110%;
	margin-top: 15%;
}
/*timeCard view page*/
.timecard-view table{
	margin-bottom:0px;
}
.timecard-view p{
	margin-top:10px;
}
.timecard-view .grid-view .kv-thead-float{
	z-index: 2 !important;
}
.timecard-view .grid-view .kv-grid-wrapper{
	max-height: 40vh;
	overflow-y: auto;
	overflow-x: hidden;
}
.timecard-view .footerabove{
	display:none;
}
#TimeCardView{
	max-height: 450px;
	overflow-y: scroll;
	overflow-x: hidden;
}
#timeCardSearchCleanFilterButton{
	width: 32px;
	cursor: pointer;
	float: right;
	margin-right: -35%;
	margin-top: -2.2%;
}
.field-dynamicmodel-daterangepicker{
	float:right !important;
	margin-left: 0px !important;
}
#multiple_approve_btn_id {
	float: right;
	padding-left: 9%;
	padding-right: 9%;
}
.TimeCardSearch {
	float: right;
	margin-right: 22%;
	margin-top: -2.2%;
}
.DateRangeDropDown {
	margin-left: 10%;
	margin-top: -2.2%;
}
#multiple_submit_btn_id{
	float: right;
	padding-left: 11%;
	padding-right: 11%;
}
#datePickerContainer{
	margin-top: -5.2%;
	margin-left: -15%;
}
#create_task_entry_submit_btn {
	margin-top: 1%;
	float: right;
	margin-right: 3%;
}
#task_sum_hours {
	font-size: medium;
	float: right;
	margin-right: 1%;
}
/*responsive css* for table*/
@media only screen 
and (min-width : 1360px) {
#GridViewForTimeCard{
	max-height:57vh;
}
}
@media only screen 
and (min-width : 1900px) {
#GridViewForTimeCard{
	max-height:62vh;
}
}
/* Chrome 29+ */
/*this seems unnecessary, tested in IE and needed to apply this same css to base values*/
/*this .001 dpcm is incredibly small*/
@media screen and (min-resolution: .001dpcm) {
	#multiple_time_card_approve_btn{
	    float: right;
		margin-top: -0.3%;
		margin-right: 0.5%;
		width: 12%;
    }
	#multiple_approve_btn_id {
		float: right;
		padding-left: 9%;
		padding-right: 9%;
	}
}

/*custom style for show entries grid view hover*/
#allTaskEntries table tbody tr:hover{
	/*cancel out base style*/
    background-color: transparent;
}
#allTaskEntries table tbody tr td:hover{
    background-color: rgba(57, 12, 255, 0.25);
}