#time_card_form {
    margin-right: 9%;
    margin-top: 3%;
}

#time_card_submit_btn {
    margin-top: 1%;
    float: right;
    margin-right: 3%;
}

.time_entry_header {
    font-size: 25px;
    margin-top: 2%;
}

.white_space {
    margin-top: 3%;
}

/*#modalContentSunday .wrap #top-wrapper{*/
/*display: none;*/
/*}*/
/*#modalContentMonday .wrap #top-wrapper{*/
/*display: none;*/
/*}*/
/*#modalContentTuesday .wrap #top-wrapper{*/
/*display: none;*/
/*}*/
/*#modalContentWednesday .wrap #top-wrapper{*/
/*display: none;*/
/*}*/
/*#modalContentThursday .wrap #top-wrapper{*/
/*display: none;*/
/*}*/
/*#modalContentFriday .wrap #top-wrapper{*/
/*display: none;*/
/*}*/
/*#modalContentSaturday .wrap #top-wrapper{*/
/*display: none;*/
/*}*/
/*#modalContentSunday .container{*/
/*padding: 10px 15px 20px;*/
/*}*/
/*#modalContentMonday .container{*/
/*padding: 10px 15px 20px;*/
/*}*/
/*#modalContentTuesday .container{*/
/*padding: 10px 15px 20px;*/
/*}*/
/*#modalContentWednesday .container{*/
/*padding: 10px 15px 20px;*/
/*}*/
/*#modalContentThursday .container{*/
/*padding: 10px 15px 20px;*/
/*}*/
/*#modalContentFriday .container{*/
/*padding: 10px 15px 20px;*/
/*}*/
/*#modalContentSaturday .container{*/
/*padding: 10px 15px 20px;*/
/*}*/
.approve {
    margin-top: 0;
}

.totalhours {
    float: right;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
}
.no_totalhours {
    float: right;
}
div[id^=modalContent] #loading {
    display: none;
}
#timecard_filter,#timeCardGridViewContainer{
	position:relative;
	width:100%;
	float:left;
}
#multiple_time_card_approve_btn{
    padding-left:0;
}
#timeCardDropdownContainer{
	padding-right:0;
}
#timeCardWeekContainer{
	float:left;
}
#weekSelection {
    margin-top: 6%;
}
#timeCardPageSizeLabelContainer{
	float:right;
}
#timeCardDropdownContainer label{
	padding-right:0;
}
#timeCardDropdownContainer .form-control{
	padding:6px 10px;
}
#GridViewForTimeCard{
	width:100%;
	max-height:58vh;
	overflow:auto;
}
/*timeCard view page*/
.timecard-view table{
	margin-bottom:0px;
}
.timecard-view p{
	margin-top:10px;
}
.timecard-view .grid-view .kv-thead-float{
	z-index: 2 !important;
}
.timecard-view .grid-view .kv-grid-wrapper{
	height:auto;
	max-height:30vh;
}
.timecard-view .footerabove{
	display:none;
}
/*responsive css* for table*/
@media only screen 
and (min-width : 1360px) {
#GridViewForTimeCard{
	max-height:44vh;
}
}
@media only screen 
and (min-width : 1900px) {
#GridViewForTimeCard{
	max-height:65vh;
}
}