#user_mgt_form {
    margin-right: 9%;
    margin-top: 3%;
}

#user_mgt_submit_btn {
    margin-top: 2%;
    margin-left: 1%;
}

.user_filter, #userGridViewContainer {
    position: relative;
    float: left;
    width: 100%;
}

#userButtons {
	float:left;
    width: 5%;
}
#userDropdownContainer {
    float: right;
    width: 95%;
}
#userDropdownContainer label {
    padding-right: 0;
}
#filterContent{
	float:left;
}
#userPageSizeLabel{
	float:right;
}
#userGridview .kv-grid-container{
	max-height:59vh;
	overflow-y:auto;
}